.photosearch {
  z-index: 99999;
  display: none;
  opacity: 0.9;
  background-color: #594F42;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.opensearch {
  margin-left: 20px;
}
.photosearch .searchbox {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -30px;
}
.tt-dropdown-menu {
  text-align: left;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 300px;
  height: 45px;
  padding: 8px 12px;
  font-size: 1.3em;
  font-family: 'Lora';
  line-height: 30px;
  border: 2px solid #594F42;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  outline: none;
}

.tt-query,
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #594F42;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 300px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.post {
  background-color: transparent;
  margin: 0 auto;
}
.isotope-item {
  margin: 2px;
  background: #000;
}
.isotope-item img {
  height: 200px;
  width: 200px;
}
.loadmore {
  text-align: center;
  padding: 35px;
}
.btn {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.4em;
}
.ie-warning {
  display: none;
}
.list-group .active a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\f101";
  /*font-size: 2em;*/
  padding-right: 10px;
}
.list-group .active a {
  font-size: 1.6em;
}