/* CSS for www.slowtheory.com */

/**** 1. PAGE GENERAL ****/
body {
  background-color: #bbb;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', sans-serif;
  font-weight: normal;
  text-transform: uppercase; 
}
blockquote > p {
  font-family: 'Anonymous Pro';
  line-height: 1.6;
  font-size: 0.9em;
}
.outer-col {
  padding: 0 0 30px;
}
.outer-col-menu {
  padding: 0 0 12px;
}

/**** 2. PAGINATOR ****/
.pager {
  margin: 40px 0;
}


/**** 3. POST GENERAL ****/
.post {
  background-color: #f5f5f5;
  margin-top: 0;
}
.parts {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}
.post-breadcrumb {
  padding: 25px 50px 0 0;
}
.breadcrumb {
  padding: 0;
}
.post-date {
  padding: 20px 40px;
}
.post-title {
  background-color: #414141;
  padding: 20px 40px;
  color: #fff;
}
.post-title a {
  color: #fff;
  height: 40px;
}
.pager,
.post-content {
  padding: 0 40px 50px 40px;
  font-size: 1.3em;
  font-family: 'Gudea', sans-serif;
  line-height: 1.6;
  overflow: auto;
}
.post-archive .post-content {
  padding: 20px;
}
.post-content h4 {
  font-family: 'Open Sans', sans-serif;
}
.post-content p {
  padding-bottom: 15px;
}


/**** 4. IMAGES ****/
.lazy {
  display: none;
}


/**** 5. NAVBAR ****/
.navbar-brand {
  font-size: 2.2em;
  font-family: 'Rammetto One', serif;
  color: #fff;
  margin: 0;
}
.navbar a:hover {
  color: #eee;
}
.navbar-nav li a {
  color: #efefef;
  font-family: 'Open Sans';
  font-size: 1.1em;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
  color: #ddd;
}
.navbar {
  background-color: #414141;
  border-bottom: 5px solid #2690CC;
  padding: 10px 20px;
}



/**** 6. ARCHIVE PAGE ****/
.post-content .tab-content h3 {
  padding-top: 20px;
  margin-top: 0;
}
.post-content .tab-content {
  padding: 20px 60px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#archive_years > li > a {
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-family: 'Arvo',sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}



/**** 7. MEDIA SPECIFIC ****/
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 0; 
    font-size: 2.2em;
    margin-left: auto;
    max-width: none;
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .post-title {
    padding: 15px 20px;
  }
  .post-date {
    padding: 20px;
  }
  .post-content {
    padding: 0 20px 10px 20px;
  }
  .post-archive .post-content {
    padding: 10px 0 0 0;
  }
  .post-title h3 {
    font-size: 1.5em;
  }
  iframe {
    display: none;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: 1px solid transparent;
  }
  #archive_years li a {
    padding: 5px 8px;
  }
  .navbar-static-top .navbar-nav {
    margin: 0;
  }
  .post-content .tab-content {
    padding: 20px;
  }
  .post-content .tab-content ul {
    list-style: none;
    padding: 5px;
  }
}