/* MULTI-USE */
.float_left_w_padding img {
  float: left;
  padding: 30px 20px 0 0;
}

/* SPECIFIC */
.afton_50k img {
  float: left;
  padding-right: 10px;
}
.altra_instinct_one_five>p:nth-of-type(1) img {
  width: 48%;
}
.boundary_waters_three>p:nth-of-type(10) img {
  height: 330px;
}
.boundary_waters_three>p:nth-of-type(16) img {
  height: 250px;
}
.hiking_at_afton > p:nth-of-type(3),
.hiking_at_afton > p:nth-of-type(6) {
  clear: left;
}
.hiking_at_afton img {
  padding-bottom: 10px;
  padding-top: 0;
}
.fat_tire_adventure > ul:nth-of-type(1) > li,
.max_height_375 > ul:nth-of-type(1) > li {
  float: left;
  padding: 5px;
}
.max_height_375 img {
  height: 375px;
  padding-top: 0;
}
.max_height_375 > ul:nth-of-type(1),
.fat_tire_adventure > ul:nth-of-type(1) {
  list-style: none;
  padding: 20px 0 40px;
}
.ragnar_relay img {
  float: none;
  clear: both;
}
.tf_hour_thing {
  min-height: 360px !important;
}
.tf_hour_thing img { 
  padding-top: 0 !important;
}
.vacation_day_one img {
  float: left;
  padding: 0 20px 0 0;
}
.vacation_day_one p:nth-of-type(2) {
  max-width: 400px;
  float: left;
}
.vacation_day_two p:nth-of-type(1) {
  max-width: 300px;
  float: right;
  padding-left: 10px;
}
.vacation_day_one p:nth-of-type(2) img,
.vacation_day_two p:nth-of-type(1) img {
  padding-bottom: 5px;
}
.fat_tire_adventure ul img {
  height: 400px;
}
.history_of_frame ul,
.things_day_off ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.history_of_frame p,
.things_day_off p {
  clear: both;
  padding-top: 10px;
}
.history_of_frame li,
.things_day_off li {
  float: left;
  padding: 5px;
}
.things_day_off li img {
  max-height: 150px;
}
.history_of_frame li img {
  max-height: 240px;
}
.race_plan ul {
  padding-bottom: 20px;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .vacation_day_one p:nth-of-type(3) {
    float: none;
    clear: both;
  }
  .vacation_day_one p:nth-of-type(2) {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .vacation_day_one p:nth-of-type(2) img {
    float: none;
  }
}