
extends layout

block content
  - var archive = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getUTCFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  div.post
    div.post-title
      != '<h3 style="margin:0">The Archive</h3>'
    div.post-content('style'='padding-top:30px')
      ul('class'="nav nav-tabs",'id'="archive_years")
        - var years = _.chain(archive).keys().reverse().value()
        each year, i in years
          li
            a('href'='#archive_'+year)
              = year
      div.tab-content
        - var years = _.chain(archive).keys().reverse().value()
        each year, i in years
          div.tab-pane('id'='archive_'+year)
            - var yearArticles = _.groupBy(archive[year], function(item) { return map[item.date.getUTCMonth()] })
            - var months = Object.keys(yearArticles);
            each month, i in months
              - var articles = yearArticles[month]
              - h = articles.length * lineHeight;
              - var lastM = last && (months.length - 1 == i);
              != '<h3>'+month+'</h3>'
              ul
                each article, i in articles
                  li
                    span!= moment.utc(article.date).format('MMM DD, YYYY')+' <i class="icon-double-angle-right"></i> '
                    a(href=article.url)= article.title
  script.
      $('#archive_years a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        var selector = $(this.hash).selector;
        window.location.hash = selector;
        //- $(window).scrollTop(0);
      });
      if (location.hash) {
        $('#archive_years a[href="' + location.hash + '"]').tab('show');
      } else {
        $('#archive_years a:first').tab('show');
      }