extends layout

block content
  div.post
    div.post-title
      != '<h3 style="margin:0"><i class="icon-warning-sign"></i> Error encountered</h3>'
    div.post-content('style'='padding-top:30px')
      div('class'='alert alert-danger') We were unable to load the requested page. Maybe I moved something. Sorry about that.