<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>slowtheory.com - photo feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Lupfer">
    <link rel="alternate" type="application/rss+xml" title="" href="http://feeds.feedburner.com/slowtheory"> 
    {{#assets.collection.default.css}}<link rel="stylesheet" href="{{this}}">{{/assets.collection.default.css}}
    {{#assets.collection.photos.css}}<link rel="stylesheet" href="{{this}}">{{/assets.collection.photos.css}}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400|Anonymous+Pro|Lora:400,700' rel='stylesheet' type='text/css'>
    <link href="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
      <style>
        .overlay {
          display: none !important;
        }
        .ie-warning {
          display: block;
        }
      </style>
    <![endif]-->    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/media/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/media/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/media/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/media/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/media/favicon.ico">
    <style>
      button {
        background: none;
        border: 0;
        color: #dc322f;
      }
      button.disabled {
        color: #999;
      }
    </style>
  </head>

  <body>
    {{>menu}}
    <div class="overlay">
      <div class="loading">Loading...</div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="ie-warning">
            <h3><i class="fa fa-exclamation-triangle"></i> Internet Explorer notice</h3>
            <p class="lead" style="padding-bottom: 30px;">
              This page will not render correctly with any version of Internet Explorer less than 10.0. Please consider upgrading or using another browser. If you must proceed with your current version of IE, please visit <a href="/photos-ie">this page</a> for a dumbed down version of the page.
            </p>
          </div>
          <div id="photos" class="post">
              <div class="row">
              <div class="col-sm-12">
                <ul class="pager">
                  <li><button class="previous"><i class="fa fa-angle-double-left fa-3x"></i></button></li>
                  <li>            
                    <div class="input-group">
                      <input class="search form-control" type="text" placeholder="Search photo tags and descriptions">
                      <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                  </li>
                  <li><button class="next"><i class="fa fa-angle-double-right fa-3x"></i></button></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul class="list">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
    </div>
    {{#assets.collection.default.js}}<script src="{{this}}"></script>{{/assets.collection.default.js}}
    <script src="//cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.js"></script>
    <script src="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    {{#assets.collection.photos.js}}{{#if this}}<script src="{{this}}"></script>{{/if}}{{/assets.collection.photos.js}}
  </body>
</html>
