<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>slowtheory.com - trail running, photography, the outdoors, and other life-living</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Lupfer">
    <link rel="alternate" type="application/rss+xml" title="" href="http://feeds.feedburner.com/slowtheory"> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css?rev={{ timestamp }}" rel="stylesheet">
    <link href="/css/posts.css?rev={{ timestamp }}" rel="stylesheet">
    <link href="/css/photos.css?rev={{ timestamp }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans|Anonymous+Pro|Gudea:400,700' rel='stylesheet' type='text/css'>
    <link href="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
      <style>
        .ie-warning {
          display: block;
        }
        .overlay {
          display: none !important;
        }
      </style>
    <![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/media/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/media/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/media/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/media/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/media/favicon.ico">
  </head>

  <body>
    
    {{>menu}}

    <div class="container" style="padding:0">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-bottom:30px;">
          <h3>Photostream</h3>
          <p class="lead" style="padding-bottom: 30px;">Click on a photo for a larger version. To view by category, <a data-toggle="modal" href="#photoTags">go here</a>. </p>

          <div class="alert alert-danger ie-warning">Sorry, this page requires at least Internet Explorer 10...or just about any other browser that isn't Internet Explorer.</div>
          <div class="post" style="width:100%">
          </div>
          <div class="loadmore">
            <button class="nextgroup btn btn-default btn-lg">
              Click to load more
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="photoTags">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="icon-camera"></i> Select Tag</h4>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="#">View all</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay">
      <div class="loading">Loading...</div>
    </div>
    <script src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.js"></script>
    <script src="//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js"></script>
    <script src="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="/js/photos.js"></script>
  </body>
</html>
