<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>slowtheory.com - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Lupfer">
    <link rel="alternate" type="application/rss+xml" title="" href="http://feeds.feedburner.com/slowtheory"> 
    {{#assets.collection.default.css}}<link rel="stylesheet" href="{{this}}">{{/assets.collection.default.css}}
    {{#assets.collection.posts.css}}<link rel="stylesheet" href="{{this}}">{{/assets.collection.posts.css}}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400|Anonymous+Pro|Lora:400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <style>
      </style>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/media/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/media/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/media/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/media/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/media/favicon.ico">
  </head>

  <body>
    {{>menu}}

    <div class="container-fluid" style="padding:0">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="post-header">
            <h3>{{ page.title }}</h3>
            <p class="post-date"><i class="fa fa-calendar"></i> Posted on {{ date page.metadata.date }}</p>
          </div>
          <div class="post-content{{page.metadata.post_class}}">
            {{{ lazyload page.html }}}
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    {{#assets.collection.default.js}}<script src="{{this}}"></script>{{/assets.collection.default.js}}
    {{#assets.collection.posts.js}}{{#if this}}<script src="{{this}}"></script>{{/if}}{{/assets.collection.posts.js}}
  </body>
</html>