<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>slowtheory.com - search for articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Lupfer">
    <link rel="alternate" type="application/rss+xml" title="" href="http://feeds.feedburner.com/slowtheory"> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css?rev={{ timestamp }}" rel="stylesheet">
    <link href="/css/posts.css?rev={{ timestamp }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Rammetto+One|Open+Sans|Anonymous+Pro|Gudea:400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <style>
      </style>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/media/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/media/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/media/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/media/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/media/favicon.ico">
    <style>
      .overlay {
        display: none;
      }
    </style>
  </head>

  <body>
    {{>menu}}

    <div class="container-fluid" style="padding:0">
      <div class="row" style="padding-top: 60px">
        <div class="col-md-4 col-md-offset-4">
          <form role="form">
          <div class="input-group">
            <input type="text" placeholder="Enter search string" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div id="searchresults" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="sort-buttons" style="display:none">
            <button class="btn btn-default sort" data-sort="title">Sort by name</button>
            <button class="btn btn-default sort" data-sort="published_on">Sort by date</button>
            <button class="btn btn-default sort" data-sort="_score">Sort by score</button>
          </div>
          <div style="display:none;">
            <li id="dummy-item" class="col-sm-6">
              <h4 class="title_link"></h4>
              <p class="post-date">
                <i class="fa fa-calendar"></i> <span class="readable_date"></span>
              </p>
              <p class="post-content preview">
              </p>
              <p class="read-more">
                <span class="read_more_link"></span>
              </p>
            </li>
          </div>
          <ul class="list">
          </ul>
        </div>
      </div>
    </div>
    
    <div class="overlay">
      <div class="loading">Loading...</div>
    </div>

    {{>footer}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/js/jquery.lazyload.min.js"></script>
    <script src="/js/slowtheory.js"></script>
    <script src="//cdn.jsdelivr.net/list.js/0.2.1/list.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <script>
    $('form').on('submit', function(e) {
      $('.overlay').show();
      $('.sort-buttons').show();
      e.preventDefault();
      var q = $('input[type=text]').val();
      $.post( "http://search.slowtheory.com/q", { 'query' : q })
      .done(function( data ) {
        $.each(data, function(index) {
          var shortened = data[index].summary.replace(/(<([^>]+)>)/ig,"").substr(0,300);
          var re = new RegExp(".*[\.]",'g');
          data[index].preview = shortened.match(re);
          data[index].title_link = '<a href="' + data[index].link + '">' + data[index].title + '</a>';
          data[index].read_more_link = '<a href="' + data[index].link + '">Read more</a>';
          data[index].readable_date = moment(data[index].published_on).format("MMMM Do, YYYY");
          console.log(data[index]);
        });

        var options = {
          item: 'dummy-item'
        };

        var hackerList = new List('searchresults', options, data);
        $('.overlay').hide();
      });
    });
    </script>
  </body>
</html>